h1 {
    color: white;
}

/* * {
    border: solid;
} */
body{
    background-image: url("https://images.all-free-download.com/images/graphicthumb/abstract_smooth_wave_background_vector_grapihic_art_569579.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}
 .header h1{
     margin-left: 50px;
 }
 .header .menu{
      margin-top: 20px;
      padding: 10px;
 }
 .menu a{
     color: white;
     border: 2px solid white;
     padding: 5px;
     text-decoration: none;
 }
.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

.item img{
    box-shadow: 2px 2px 2px;
}

.back{
    color:black;
    border: 2px solid white;
    padding: 5px;
    background-color: teal;
    text-decoration: none;
}

.about{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfk5BSU-Gen8SBRBu5tgqMaweQTgFlI0RSig&usqp=CAU");
background-repeat: no-repeat;
background-size:cover;
}
  
.item:hover{
  transform: scale(1.2)
}